/TestResults_allele_detail.TestAlleleDetail_2020-09-30_13-05-18.html
/TestResults_allele_qf.TestAlleleQueryForm_2020-09-30_13-05-18.html
/TestResults_allele_summary.TestAlleleSummary_2020-09-30_13-05-18.html
/TestResults_private_allele.TestPrivateAllele_2020-09-30_13-05-18.html
